body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle, #fff, #f7f9f9, #979a9a);
}

header {
  background: #0a0e54;
  height: 30px;
  padding: 5px 20px;
}

header h1 {
  font-size: 15px;
  margin: 0;
  font-weight: normal;
  line-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  float: left;
}

header h1 b {
  color: #fff;
}

header a {
  color: #ddd;
  text-decoration: none;
}

header a:hover {
  color: #fff;
}

header menu {
  margin: 0;
  padding: 0;
  float: right;
}

header menu ul {
  margin: 0;
  padding: 0;
}

header menu ul li {
  margin: 0 10px;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

header menu ul li a {
  font-size: 12px;
  line-height: 30px;
}

header menu ul li a:hover {
  text-decoration: underline;
}

svg {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

svg circle {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg circle:active {
  cursor: grabbing;
}

svg text {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text:active {
  cursor: grabbing;
}

menu.detail {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

menu.detail button {
  display: block;
  opacity: 0.3;
  cursor: pointer;
  width: 10px;
  height: 12px;
  border: 0;
  margin: 10px 5px;
  border-radius: 50%;
  outline: none;
}

menu.detail button:hover {
  opacity: 1;
}
